*{
    text-align: center;
    box-sizing: border-box;
}

body{
    font-family: Arial, "helvetica Neue", helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
}

header, nav {
    margin-bottom: 20px;
    padding: 20px;
    width: 960px;
}

.white{
    background: #ebebeb;
}

section{
    float: left;
    height: 300px;
    width: 495px;
    padding: 20px;
    border: 1px solid black;
}

article{ 
    padding: 20px;
    color: #ebebeb;
    background: #777;
}

h1, p{
    color: #777;
}


aside{
    float: right;
    height: 300px;
    width: 445px;
    padding: 20px;

}

.wrapper{
    max-width: 960px;
    float: center;

}

footer{
    max-width: 960px;
    margin-top: 20px;
    padding: 20px;
}